In [7]:
import pyodbc

In [20]:
import csv

In [22]:
connection = pyodbc.connect(r'DSN=ADWDSN;UID=python;PWD=password')

In [134]:
cursor = connection.cursor()

In [10]:
q = 'insert into  production.product set color = ? where productid = ?'

In [78]:
from pyodbc import connect

In [141]:
with open (r'c:\data\2016-12-metropolitan-street.csv', 'r') as f:
    reader = csv.reader(f)
    columns = next(reader)
    for n in range(0,len(columns)):
        columns[n] = columns[n].replace(' ','_')
    createquery = 'Create table python_importer ('
    for c in columns: 
        createquery += c+' varchar(max),'
    createquery +=')'
    cursor.execute(createquery)
    cursor.commit()
    query = 'insert into python_importer({0}) values ({1})'
    query = query.format(','.join(columns), ','.join('?' * len(columns)))
    cursor = connection.cursor()
    for data in reader:
        cursor.execute(query, data)
    cursor.commit()

ProgrammingError: ('42S01', "[42S01] [Microsoft][SQL Server Native Client 11.0][SQL Server]There is already an object named 'python_importer' in the database. (2714) (SQLExecDirectW)")

In [95]:
      print(query)

insert into python_importer(Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context) values (?,?,?,?,?,?,?,?,?,?,?,?)

In [104]:
    print(data)

['f353d8451b538ab72ad25d902091f78b6a45f648ce7ecdd99f11e3fd704bd546', '2016-12', 'Metropolitan Police Service', 'Metropolitan Police Service', '0.637357', '51.117399', 'On or near Sandeman Way', 'E01023979', 'Ashford 011B', 'Violence and sexual offences', 'Under investigation', '']

In [105]:
    print(cursor)

<pyodbc.Cursor object at 0x000001E139AC9288>

In [133]:
    print(columns)

['Crime_ID', 'Month', 'Reported_by', 'Falls_within', 'Longitude', 'Latitude', 'Location', 'LSOA_code', 'LSOA_name', 'Crime_type', 'Last_outcome_category', 'Context']

In [45]:
import pandas
import sqlalchemy
import pyodbc
from sqlalchemy import create_engine

In [108]:
cnxn = connect(driver='{SQL Server}', server='localhost', database='AdventureWorks2012',               
               trusted_connection='yes')

In [139]:

# set up connection to database (with username/pw if needed)
cnxn = connect(driver='{SQL Server}', server='KG-TRAINING30', database='AdventureWorks2012',trusted_connection='yes')
#connection = pyodbc.connect(r'DSN=ADWDSN;UID=python;PWD=password')
engine = create_engine('mssql+pyodbc://python:password@ADWDSN')

# read csv data to dataframe with pandas
# datatypes will be assumed
# pandas is smart but you can specify datatypes with the `dtype` parameter
df = pandas.read_csv(r'c:\data\2016-12-metropolitan-street.csv')

# write to sql table... pandas will use default column names and dtypes
df.to_sql('Python_import223',engine,index=True,index_label='id')

# add 'dtype' parameter to specify datatypes if needed; dtype={'column1':VARCHAR(255), 'column2':DateTime})

In [1]:
import csv
with open(r'c:\data\2016-12-metropolitan-street.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
    #     print(row)

SyntaxError: unexpected EOF while parsing (<ipython-input-1-26bb28bb6d09>, line 5)

ModuleNotFoundError: No module named 'mysqldb'

In [ ]:
connection = pyodbc.connect(r'DSN=ADWDSN;UID=python;PWD=password')

In [97]:
#lawrence

In [99]:
select object_id('dbo.PythonImport77')

SyntaxError: invalid syntax (<ipython-input-99-0ab56bb356a3>, line 1)

In [103]:
cursor.execute('''CREATE TABLE {} (
                          id INTEGER PRIMARY KEY,
                          text TEXT,
                          word_id INTEGER NOT NULL,
                          FOREIGN KEY(word_id) REFERENCES Word(id)
                        )'''.format(table))

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 25))

NameError: name 'table' is not defined

In [140]:
import sys 
import os 

path_to_import = sys.argv[1]
with open(path_to_import) as f: 
    pass


with open (r'c:\data\2016-12-metropolitan-street.csv', 'r') as f:
    reader = csv.reader(f)
    columns = next(reader)
    for n in range(0,len(columns)):
        columns[n] = columns[n].replace(' ','_')
    createquery = 'Create table python_importer ('
    for c in columns: 
        createquery += c+' varchar(max),'
    createquery +=')'
    cursor.execute(createquery)
    cursor.commit()
    query = 'insert into python_importer({0}) values ({1})'
    query = query.format(','.join(columns), ','.join('?' * len(columns)))
    cursor = connection.cursor()
    for data in reader:
        cursor.execute(query, data)
    cursor.commit()